*,
*::before,
*::after {
    box-sizing: border-box;
    font-weight: normal;
}

body {
    margin: 0 auto;
    padding: 0;
    background: linear-gradient(to right, rgb(211, 228, 206), #e5f891);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

#backspace,
#operator {
    color: #FF6700;
}

.calculator-grid>button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px, solid #FFFFFF;
    outline: none;
    background-color: rbga(255, 255, 255, 0.75);
    border-radius: 10px;
    margin: 5px;
}

.calculator-grid>button:hover {
    background-color: #a9a9a9;
}

.span-two {
    grid-column: span 2;
    color: #ffffff;
    background-color: #FF6700;
}

.output {
    grid-column: 1 / -1;
    background-color: whitesmoke;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border: 1px solid #a0a0a0;
    border-radius: 10px;
    margin-bottom: 10px;
}

.output .previous-operand {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}

.output .current-operand {
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
}